html {
    background-color: #00539f;
  }

body{
    background-color:  #FF9500;
    padding:20px;
    border: 5px solid black;
    width: 600px;
    margin: 0 auto;
    font-size: large;
}

h1{
    text-shadow: 3px 2px;
    text-align: center;
    color:blue;
    font-size: 60px;
}

img{
    margin: 0 auto;
    display: block;
}